<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.zavier.table.relation.dao.mapper.TableRelationMapper">
    <resultMap id="BaseResultMap" type="com.github.zavier.table.relation.dao.entity.TableRelation">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="source_db" property="sourceDb" jdbcType="VARCHAR"/>
        <result column="source_table" property="sourceTable" jdbcType="VARCHAR"/>
        <result column="source_column" property="sourceColumn" jdbcType="VARCHAR"/>
        <result column="target_db" property="targetDb" jdbcType="VARCHAR"/>
        <result column="target_table" property="targetTable" jdbcType="VARCHAR"/>
        <result column="target_column" property="targetColumn" jdbcType="VARCHAR"/>
        <result column="relation_type" property="relationType" jdbcType="TINYINT"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, source_db, source_table, source_column, target_db, target_table, target_column, relation_type, created_at,
        updated_at
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM table_relation
    </select>

    <insert id="insert" parameterType="com.github.zavier.table.relation.dao.entity.TableRelation">
        INSERT INTO table_relation (source_db, source_table, source_column, target_db, target_table, target_column,
        relation_type, created_at, updated_at)
        VALUES (#{sourceDb}, #{sourceTable}, #{sourceColumn}, #{targetDb}, #{targetTable}, #{targetColumn},
        #{relationType}, #{createdAt}, #{updatedAt})
    </insert>

    <update id="update" parameterType="com.github.zavier.table.relation.dao.entity.TableRelation">
        UPDATE table_relation
        <set>
            <if test="sourceDb != null">source_db = #{sourceDb},</if>
            <if test="sourceTable != null">source_table = #{sourceTable},</if>
            <if test="sourceColumn != null">source_column = #{sourceColumn},</if>
            <if test="targetDb != null">target_db = #{targetDb},</if>
            <if test="targetTable != null">target_table = #{targetTable},</if>
            <if test="targetColumn != null">target_column = #{targetColumn},</if>
            <if test="relationType != null">relation_type = #{relationType},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM table_relation WHERE id = #{id}
    </delete>

</mapper>